/* ***********************   Prevention of CSS randomness   *********************** */


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

*,
body,
html {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}


/*  ******************         Notes to use for projects        *************************  */

/*
.grenze-thin {
  font-family: "Grenze", serif;
  font-weight: 100;
  font-style: normal;
}

.grenze-extralight {
  font-family: "Grenze", serif;
  font-weight: 200;
  font-style: normal;
}

.grenze-light {
  font-family: "Grenze", serif;
  font-weight: 300;
  font-style: normal;
}

.grenze-regular {
  font-family: "Grenze", serif;
  font-weight: 400;
  font-style: normal;
}

.grenze-medium {
  font-family: "Grenze", serif;
  font-weight: 500;
  font-style: normal;
}

.grenze-semibold {
  font-family: "Grenze", serif;
  font-weight: 600;
  font-style: normal;
}

.grenze-bold {
  font-family: "Grenze", serif;
  font-weight: 700;
  font-style: normal;
}

.grenze-extrabold {
  font-family: "Grenze", serif;
  font-weight: 800;
  font-style: normal;
}

.grenze-black {
  font-family: "Grenze", serif;
  font-weight: 900;
  font-style: normal;
}

.grenze-thin-italic {
  font-family: "Grenze", serif;
  font-weight: 100;
  font-style: italic;
}

.grenze-extralight-italic {
  font-family: "Grenze", serif;
  font-weight: 200;
  font-style: italic;
}

.grenze-light-italic {
  font-family: "Grenze", serif;
  font-weight: 300;
  font-style: italic;
}

.grenze-regular-italic {
  font-family: "Grenze", serif;
  font-weight: 400;
  font-style: italic;
}

.grenze-medium-italic {
  font-family: "Grenze", serif;
  font-weight: 500;
  font-style: italic;
}

.grenze-semibold-italic {
  font-family: "Grenze", serif;
  font-weight: 600;
  font-style: italic;
}

.grenze-bold-italic {
  font-family: "Grenze", serif;
  font-weight: 700;
  font-style: italic;
}

.grenze-extrabold-italic {
  font-family: "Grenze", serif;
  font-weight: 800;
  font-style: italic;
}

.grenze-black-italic {
  font-family: "Grenze", serif;
  font-weight: 900;
  font-style: italic;
}


.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>; 100-900 normal or italic
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


*/

/************************************** Font Stylization ***************************************** */



header h1 {
  font-family: "Noto Serif", serif;
  color: rgb(253, 253, 253);
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 2rem;
}

header div p {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.15rem;
  letter-spacing: 1.1px;
  color: rgb(254, 250, 250);
}

.top-info h2,
.top-info h3 {
  font-family: "Grenze", serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

.top-info h2 {
  text-shadow: black 2px -.75px .6px;
  font-size: 4rem;
  color: #00C7FDFF;
}

.top-info h3 {
  font-family: "Noto Serif", serif;
  font-weight: 900;
  font-size: 1.35rem;
  text-shadow: #00C7FDFF .75px -1px .5px;
  color: rgb(5, 5, 5);
}

.card-inner .card-back .top-back-info .back-p {
  font-size: 1.3rem;
  padding: 1.5rem .5rem .5rem .5rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-align: center;
  text-shadow: black 1.5px -.75px .6px;
}

#p-1968 {
  font-size: 1.3rem;
  padding: 1.5rem .5rem .5rem .5rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-align: center;
  text-shadow: black 0px 0px 50px 20px;
}

#p-1971 {
  font-size: 1.3rem;
  padding: 1.5rem .5rem .5rem .5rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-align: center;
}

#p-1978 {
  font-size: 1.5rem;
  padding: 1.5rem .5rem .5rem .5rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-align: center;
}

#p-1985 {
  font-size: 1.45rem;
  line-height: 1.4;
  padding: 1.35rem .75rem 1rem .75rem;
  letter-spacing: 1.1px;
}

#p-2006 {
  font-size: 1.3rem;
  padding: .75rem .5rem .5rem .5rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-align: center;
}

#p-2020 {
  font-size: 1.3rem;
  padding: 1.5rem .5rem .5rem .5rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-align: center;
}

#p-2022 {
  font-size: 1.3rem;
  padding: 1.5rem .5rem .5rem .5rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-align: center;
}

#p-2023 {
  font-size: 1.3rem;
  padding: 1.5rem .5rem .5rem .5rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-align: center;
}

#p-2024 {
  font-size: 1.3rem;
  padding: 1.5rem .5rem .5rem .5rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  text-align: center;
}


.instructions .stack .scroll-text,
.instructions .stack-3 .scroll-text {
  font-family: "Grenze", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 1.35px;
}

.bang {
  margin: 0 0 0 0;
  font-family: "Grenze", serif;
  font-weight: 500;
  font-style: normal;
  text-shadow: none;
  font-size: 3.5rem;
}





/* ***********************  Sizing Elements  **************************** */


body {
  background-color: rgba(15, 15, 15, 1);
  transition: all 0.25s ease-in-out;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  padding: .75rem 0 2rem 0;
  display: flex;
  height: auto;
  width: 100vw;
  display: flex;
  background: linear-gradient(to right,
      #00C7FDFF 0%,
      #19A8D5FF 20%,
      #003C71B4 50%,
      #003C71F9 100%);
  justify-content: center;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  border-bottom: rgb(97, 210, 241) solid 2.5px;
}

section {
  background-color: rgb(249, 249, 249);
}

h1 {

  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

header .divider {
  padding-top: 2px;
  width: 10%;
  background-color: #00c8ff;
  margin-bottom: 1rem;
}

header div p {
  min-height: 100px;
  text-align: center;
  max-width: 500px;
  justify-content: center;
  align-items: center;


}

header div {
  display: flex;
  height: 225px;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

header div img {
  height: 50px;
  width: 100%;
  display: flex;
  padding-bottom: .8rem;
  padding-top: .5rem;
}

svg {
  min-height: 48px;
  min-width: 48px;
}

section {
  overflow-x: hidden;
  background-color: rgba(15, 15, 15, 1);
}

.card-scroll {
  justify-self: center;
  width: 80%;
  background: rgb(7, 7, 7);
  padding: 2rem 1rem 2rem 0rem;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 4rem;
  scroll-behavior: smooth;
  scrollbar-width: thick;
  scroll-bar: rgb(97, 210, 241);
}

.card-scroll::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
  background: #d8d2d2;
}

.card-scroll::-webkit-scrollbar-thumb {
  background: rgb(97, 210, 241);
}

.card-scroll::-webkit-scrollbar-track {
  background: #003C71F9;
}

.card-scroll .card {
  padding-left: 1rem;
}

.card {

  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 400px;
  height: 350px;
  perspective: 1000px;
  margin-top: 1rem;
}

.card-inner {
  border: #003C71F9 solid 10px;
  box-shadow: rgba(97, 210, 241, 1) 0px 0px 15px 7.5px;
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform .9s ease;
  transform: translateX(-.5rem);
}

@keyframes spinAndFlip {
  0% {
    transform: rotateZ(0deg) rotateY(0deg);
  }

  50% {
    transform: rotateZ(360deg) rotateY(0deg);
  }

  100% {
    transform: rotateZ(360deg) rotateY(180deg) translateX(.5rem);
    /* Spin in a circle */
  }
}

@keyframes spinAndFlipReverse {
  0% {
    transform: rotateZ(360deg) rotateY(180deg);
  }

  50% {
    transform: rotateZ(360deg) rotateY(0deg);
  }

  100% {
    transform: rotateZ(0deg) rotateY(180deg);
  }
}

/* When you hover over the card, play the spinAndFlip animation for 1 second */
.card:hover .card-inner {
  animation: spinAndFlip 1s forwards;
}


.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.card-back p {
  color: #fff;
}

.card-front {
  background-color: rgba(252, 252, 252, 1);
}

.top-info {
  height: 182px;
  width: 100%;
  display: relative;
}

.bottom-pic {
  height: 141px;
  width: 100%;
  padding: 0 .5rem 0rem.5rem;
}

.card img {
  height: 80%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.top-info h2,
.top-info h3 {
  display: block;
  position: relative;
  max-height: 91px;
  width: 100%;
  text-align: center;
}

.top-info h2 {
  padding-top: 1rem;
}

.top-info h3 {
  padding-top: 1.5rem;

}

.card-back {
  position: relative;
  background-color: rgba(97, 210, 241, 1);
  transform: rotateY(180deg);
}

.card-back::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background:
    linear-gradient(to right,
      rgba(0, 199, 253, 0.0) 0%,
      rgba(0, 199, 253, .05) 10%,
      rgba(25, 168, 213, .1) 30%,
      rgba(55, 132, 205, .22) 50%,
      rgba(36, 110, 171, .33) 70%,
      rgba(38, 96, 162, .6) 90%,
      rgba(56, 83, 200, .8) 100%) center bottom / 100% 100% no-repeat,
    url("../img/intel-header-logo.svg") center bottom / 200px auto no-repeat;
  z-index: 1;
  pointer-events: none;
  border: none;
}

.card .card-inner .card-back .top-back-info {
  width: 100%;
  height: 80%;
  z-index: 3;
  border-bottom: 12px solid black;
  background-color: rgb(8, 8, 8) !important;
}

/* Setup of the shadow text to use a gradient to illuminate the scroll-text instructions */

.instructions {
  padding-top: 1rem;
  display: flex;
  height: 4rem;
  justify-content: center;
  align-content: center;
}


.stack {
  position: relative;
  display: inline-block;
  line-height: 1;
  margin-right: 1rem;
}

.stack .shadow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  letter-spacing: inherit;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: rgb(13, 197, 248) 1.75px -.5px .4px;
}

.stack .front {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(to top,
      #00C7FDFF 0%,
      #00c7fdff 23%,
      #003C7128 29%,
      #003c71AF 40%,
      #F9F9F9 50%,
      #F9F9F9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.stack-2 {
  position: relative;
  display: inline-block;
  line-height: 1;
  margin-right: 1rem;
}


.stack-2 .shadow-2 {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  letter-spacing: inherit;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: rgb(13, 197, 248) 1.75px -.5px .4px;
}

.stack-2 .front-2 {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(to top,
      #003C71F9 0%,
      #003C71F9 15%,
      #003C71AF 30%,
      #F9F9F9 60%,
      #F9F9F9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.stack-3 {
  position: relative;
  display: inline-block;
  line-height: 1;
}

.stack-3 .shadow-3 {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  font: inherit;
  letter-spacing: inherit;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: rgb(13, 197, 248) 1.75px -.5px .4px;
}

.stack-3 .front-3 {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(to top,
      #00C7FDFF 0%,
      #00c7fdff 23%,
      #003C7128 29%,
      #003c71AF 40%,
      #F9F9F9 50%,
      #F9F9F9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.sustain {
  min-height: 14rem;
}

footer {
  min-width: 280px;
  min-height: 3rem;
  margin-top: 4rem;
  width: 100%;
  background: linear-gradient(to right,
      #00C7FDFF 0%,
      #19A8D5FF 20%,
      #003C71B4 50%,
      #003C71F9 100%);
}

footer #intel-foot {
  height: 24px;
  width: auto;

}

#newsletter-cta {
  color:  rgb(97, 210, 241);
}

.sustain .row .img-box img {
  height: 40px !important;
  width:  40px !important;
}

.sustain .row .img-box #power:hover {
  background-color: rgba(229, 115, 115, .3);
}

#energy:hover {
  color: rgba(229, 115, 115, .3);
}

.sustain .row .img-box #recycling:hover {
  background-color:rgba(83, 208, 127, .3);
}

#waste:hover {
  color: rgba(83, 208, 127, .3);
}

.sustain .row .img-box #water:hover {
    background-color: rgba(13, 0, 255, 0.53);
}

#droplet:hover {
  color: rgba(13, 0, 255, 0.53);
}


/* **************** MEDIA QUERYS ***************** */

@media (max-width: 1099.2px) {

  /* ****************** FONTS ********************* */
  section .card-scroll .card .card-inner .card-back p {
    line-height: 1.2rem;
  }

  #p-1968 {
    font-size: 1.3rem;
    padding: 1.5rem .5rem .5rem .5rem;
    line-height: 1.3;
    letter-spacing: 1.1px;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  #p-1971 {
    font-size: 1.3rem;
    padding: .7rem .75rem 1.25rem .75rem;
    line-height: 1.4;
    letter-spacing: 1.1px;
  }

  #p-1978 {
    font-size: 1.5rem;
  }

  #p-1985 {
    font-size: 1.4rem;

  }

  #p-2006 {
    font-size: 1.15rem;
  }

  #p-2020 {
    font-size: 1.25rem;
  }

  #p-2022 {
    font-size: 1.25rem;
  }

  #p-2023 {
    font-size: 1.25rem;
  }

  #p-2024 {
    font-size: 1.2rem;
  }

  .instructions .stack .scroll-text,
  .instructions .stack-3 .scroll-text {
    font-size: 1.5rem;
  }

  .instructions .stack .shadow,
  .instructions .stack-3 .shadow-3 {
    text-shadow: rgb(13, 197, 248) .5px -0px .2px;
    font-size: 1.5rem;
    transform: translateY(.20rem) translateX(.05rem);
  }



  /* ******************CARDS *********************** */
  .card {
    width: 325px;
    height: 350px;
  }

  .card img {
    height: 100%;
    width: 100%;
  }

  .card-back::after {
    width: 100%;
    height: 20%;
    background:
      linear-gradient(to right,
        rgba(0, 199, 253, 0.0) 0%,
        rgba(0, 199, 253, .05) 10%,
        rgba(25, 168, 213, .1) 30%,
        rgba(55, 132, 205, .22) 50%,
        rgba(36, 110, 171, .33) 70%,
        rgba(38, 96, 162, .6) 90%,
        rgba(56, 83, 200, .8) 100%) center bottom / 100% 100% no-repeat,
      url("../img/intel-header-logo.svg") center bottom / 155px auto no-repeat;
  }
}


@media (min-width: 1099.201px) {
  #p-1968 {
    font-size: 1.4rem;
  }

  #p-1971 {
    font-size: 1.5rem;
  }

  #p-1978 {
    font-size: 1.7rem;
  }

  #p-1985 {
    font-size: 1.45rem;
  }

  #p-2006 {
    font-size: 1.2rem;
    padding-top: 1.75rem;
  }

  #p-2020 {
    font-size: 1.3rem;
    transform: translateY(.5rem);
  }

  #p-2022 {
    margin-top: .35rem;
    font-size: 1.35rem;
  }

  #p-2023 {
    font-size: 1.35rem;
    transform: translateY(.5rem);
  }

  #p-2024 {
    font-size: 1.33rem;
    transform: translateY(.5rem);
  }

  header {
    padding-top: 2.5rem;
  }

  body .wrapper header div img {
    height: 80px;
  }

  header div h1 {
    font-size: 2.8rem;
  }

  header div p {
    max-width: 700px;
    padding-bottom: 1rem;
  }

}

@media (max-width: 729.5px) {

  body.rtl-mode .instructions .stack .scroll-text,
  body.rtl-mode .instructions .stack-3 .scroll-text {
    font-size: 1.15rem;
    background: linear-gradient(to top,
      #00C7FDFF 0%,
      #00c7fdff 23%,
     #00C7fdff 100%);
      -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  }
  
  

  .body.rtl-mode .stack-3 .shadow-3,
  .body.rtl-mode .stack .shadow {
    text-shadow: none;
  }

  .instructions .stack .shadow,
  .instructions .stack-3 .shadow-3 {
    text-shadow: none;
  }
}

@media (max-width: 615px) {
  html {
    padding: 0 0 0 0;
  }

  #p-1968 {
    padding: 1.75rem 1rem 1rem 1rem;
    font-size: 1.1rem;
    transform: translateY(1rem);
  }

  #p-1971 {
    font-size: 1.1rem;
    transform: translateY(3rem);
  }

  #p-1978 {
    font-size: 1.3rem;
    padding: 1.75rem;
  }

  #p-1985 {
    font-size: 1.3rem;
    padding: 1rem 1rem 1.25rem 1rem;
  }

  #p-2006 {
    font-size: 1.1rem;
  }

  #p-2020 {
    font-size: 1.2rem;
    padding: 1.5rem .5rem 1rem .5rem;
  }

  #p-2022 {
    margin-top: .25rem;
    font-size: 1.20rem;
  }

  #p-2023 {
    font-size: 1.25rem;
  }

  #p-2024 {
    font-size: 1.25rem;
    margin-top: .25rem;
  }

  .top-info h3 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 800;
    padding-top: 3rem;
  }

  .top-info h2 {
    text-align: center;
    padding-top: .5rem;

  }

  header h1 {
    font-size: 1rem;
    max-width: 90%;
    min-width: 225px;
  }

  header div p {
    font-size: .7rem;
    max-width: 90%;
    min-width: 225px;
  }

  header div .divider {
    width: 60px;
    height: 2px;
  }

  header div img {
    min-width: 80px;
  }

  .instructions {
    flex-direction: column;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: .3rem;
    padding-top: 1rem;
  }

  .stack-2 {
    display: none;
  }

  .instructions .stack .scroll-text,
  .instructions .stack-3 .scroll-text {
    font-size: 1rem;
    transform: translateY(-10px);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  body.rtl-mode .instructions .stack .scroll-text,
  .instructions .stack .scroll-text {
    display: none;
  }

  .stack-3 .shadow-3 {
    text-shadow: none;
  }

  .stack .shadow {
    text-shadow: none;
  }

  .stack .front,
  .stack-3 .front-3 {

    background: linear-gradient(to top,
        #00C7FDFF 0%,
        #00c7fdff 23%,
        #00C7FDFF 35%,
        #F9F9F9 45%,
        #F9F9F9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    line-height: 16px;
    transform: translateY(-40px);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-width: 255px;
    text-align: center;
  }

  .card {
    width: 280px;
    height: 400px;
  }

  .card img {
    height: 100%;
    width: 100%;
  }

  .card-back::after {
    width: 100%;
    height: 20%;
    background:
      linear-gradient(to right,
        rgba(0, 199, 253, 0.0) 0%,
        rgba(0, 199, 253, .05) 10%,
        rgba(25, 168, 213, .1) 30%,
        rgba(55, 132, 205, .22) 50%,
        rgba(36, 110, 171, .33) 70%,
        rgba(38, 96, 162, .6) 90%,
        rgba(56, 83, 200, .8) 100%) center bottom / 100% 100% no-repeat,
      url("../img/intel-header-logo.svg") center bottom / 155px auto no-repeat;
  }

  .card-scroll {
    padding-left: 0;
    padding-right: 0;
    width: 96%;
  }

  body,
  header {
    min-width: 280px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .card-scroll {
    flex-direction: column;
    align-items: center;
  }

  .instructions .scroll-content .stack span,
  .instructions .scroll-content .stack-3 span {
    font-size: 1.2rem;
    transform: translateY(-2rem);
  }
}

@media (max-width: 300px) {
  .card-scroll {
    overflow-x: visible;
  }

  .instructions .scroll-content .stack span,
  .instructions .scroll-content .stack-3 span {
    min-width: 280px;
  }


}



/* Reset protection for Google Translate */

.translate-wrapper {
  position: absolute;

  left: 1rem;
  z-index: 9099;
  top: 2rem;
}

.body.rtl-mode .translate-wrapper {
  top: 3rem;
}

#google_translate_element {
  display: inline-block;
  width: auto;
}

.body.rtl-mode .translate-wrapper {
  left: 0rem;
  right: 1rem;
}


@media (max-width: 615px) {
  .translate-wrapper {
    position: absolute;
    top: 15rem;
    left: 1rem;
    z-index: 9099;
    box-shadow: none !important;
  }

  #google_translate_element,
  #google_translate_element * {
    min-width: auto !important;
    width: auto !important;
    display: inline-block !important;
    box-shadow: none !important;
  }

  .goog-te-menu-frame {
    background: transparent !important;
    box-shadow: none !important;
  }

  .sustain {
    min-height: 14rem;
    min-width: 270px;
  }

  body.rtl-mode .instructions .stack .scroll-text {
    font-size: .75rem;
  }
}

@media (max-width: 410px) {
  footer #intel-slogan {
    margin-left: .5rem !important;
    font-size: .85rem !important;
  } 
}

body {
  top: 0px !important;
  /* prevents body being pushed down */
  overflow-x: hidden;
}

body.rtl-mode {
  text-align: right;
  top: 0px !important;
}

.row {
  overflow-x: hidden;
}

.modal {
  --bs-modal-bg:  rgb(45, 87, 98);
}

.modal-title {
  flex: 1;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}

.modal-header {
  background-color: black;
}

.modal-body .modal-text {
  color: whitesmoke;
  font-style: italic;
  text-align: center;
}

.modal-next-steps {
  font-weight: bold;
  text-align: center;
  font-size: 1.75rem;
}

.modal-footer {
  background-color: black;
}
